@model MovieModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

@using (@Html.BeginForm("AddMovie", "Movie", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.ID, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.ID, new { @class = "form-label" })
        @Html.ValidationMessageFor(m => m.ID, "", new { @class = "label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-label" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre, new { @class = "form-label" })
        @Html.TextAreaFor(m => m.Genre, new { @class = "form-label" })
        @Html.ValidationMessageFor(m => m.Genre)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Rating, new { @class = "form-label" })
        @Html.ValidationMessageFor(m => m.Rating)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Length, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Length, new { @class = "form-label" })
        @Html.ValidationMessageFor(m => m.Length)
    </div>
    <input value="Add" type="submit" />
}